.flashcard{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    background-color: rgb(206, 206, 206);
    height: 400px;
    width: 800px;
    border-radius: 5px;
    border: solid black 2px;    
    flex-grow: 1;
    /* padding-left: 30px;
    padding-right: 30px; */
}

.flashcard-info{
    font-size: 30px;
    color: black;
    margin-left: 40px;
    margin-right: 40px;
}

.flashcard-index{
    position: absolute;
    font-size: 30px;
    color: black;
    align-self: flex-end;
    margin-top: auto;
    margin-right: 5px;
}

.flashcard-source{
    font-size: 40px;
    color: black;
    margin-left: 40px;
    margin-right: 40px;
}

.card{
    height: 400px;
    width: 800px;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.scene{
    perspective: 1000px;
}

.flashcard.front{
    position: absolute;
    backface-visibility: hidden;  
}

.push-center{
    margin-top: auto;
    margin-bottom: auto;
}

.flashcard.back{
    position: absolute;
    backface-visibility: hidden;  
    transform: rotateY(180deg);
}

.card.is-flipped{
    transform: rotateY(180deg);
}

button:hover{
    cursor: pointer;
    background-color: rgb(255, 67, 67);
}

.button-container{
    display: flex;
    margin-top: 60px;
  }
  
.button-container > *{
    all: unset;
    font-size: 25px;
    background-color: rgb(255, 156, 156);
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    border: black solid 1px;
    color: black;

    margin-left: 2px;
    margin-right: 2px;
}
  
  
  
